* {
  font-family: Geologica, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #8baffe;
  --main-color: #7d5aa1f5;
}

p {
  font-size: 1.2rem;
}

body {
  font-family: Geologica, Arial;
  margin: 0;
  overflow-x: hidden;
}

span {
  color: #764ba2;
}

section {
  padding: 100px;
}

/* Header Style */

#profilePic {
  width: 40px;
  border-radius: 50%;
  border: solid 1px black;
  margin-right: 5px;

  min-width: 50px;
}

.contact {
  padding: 300px;
}

/* Home Style */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 500;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3;
}

#CV-button {
  padding: 1vw 3vw;
  text-decoration: none;
}

.home-img img,
.about-img img {
  width: 35vw;
  padding-left: 5vw;
}

.me {
  border-radius: 60%
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .3s ease;
}

.social-media a:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}




/* Button Styling */
.btn-hover {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-purple {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/* About Style */
.about-container {
  display: flex;
  flex-direction: row;
}

.about h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.about h3 {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

.about p {
  margin-bottom: 50px;
}

.about .home-img {
  padding-right: 100px;
}

#read-more {
  padding: 1vw 3vw;
  text-decoration: none;
}

/* Contact Style */
.contact {
  padding: 0;
}

.contact h2 {
  font-size: 3.2rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-align: center;
}

.contact form {
  max-width: 70vw;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: .8rem;
  margin: .2em 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

#send-message {
  margin-top: 2rem;
  padding: 0vw 3vw;
}

@media (max-width: 768px) {
  section {
    padding: 0 0 0 3vw;
  }

  .home-container {
    flex-direction: column;
    margin-top: 15vw;
    margin-bottom: 5vw;
    text-align: center;
  }

  .home-container img {
    width: 0;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
  }

  #CV-button {
    text-align: center;
  }

  #read-more,
  #CV-button {
    padding: 3vw 5vw;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
    margin-bottom: 7vw;
  }

  .about-container img {
    margin: 5vw 0vw 5vw 16vw;
    width: 60vw;
  }

  p {
    text-align: left;
  }

  .contact {
    padding: 0;
  }
}
